version: 2.1

executors:
  node_executor:
    docker:
      - image: circleci/node:8
jobs:
  build:
    executor: node_executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Installing dependencies
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Running tests
          command: yarn lint
      - run:
          name: Build
          command: yarn build
  deploy:
    executor: node_executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Installing dependencies
          command: yarn install
      - run:
          name: Build
          command: yarn build
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email $GH_EMAIL
            git config --global user.name $GH_NAME
            yarn deploy

workflows:
  version: 2
  test_build_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - deploy:
          filters:
            branches:
              only: master
